html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none;}
button{border:none;}

body {
    background: #F7F7F7;
    color: inherit;
}

body._locked {
    overflow: hidden;
}

._container {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 10px;
    box-sizing: border-box;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    z-index: 10;
}
.header__container {
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    min-height: 74px;
}

.header__logo {
    color: #FFF;
    font-family: Lora;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}
.header__menu {
}
.menu {
    display: flex;
}
.menu__icon {
    display: none;
}
.menu__body {
}
.menu__list {
    display: flex;
}

.menu__link {
    color: rgba(255, 255, 255, 0.60);
    text-align: right;
    font-family: Oxygen;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 236.364%; 
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
.menu__link:hover {
    color: #FFF;
}

@media (min-width: 767px) {
    .menu__list > li {
        padding: 0 20px;
    }
}

@media (max-width: 767px) {
    .menu__icon {
        display: block;
        z-index: 5;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon > span,
    .menu__icon::before,
    .menu__icon::after {
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        transition: all .4s ease-in;
        background-color: white;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
        transition: all .3s;
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon > span {
        top: calc(50% - 1px);
    }

    .menu__body {
        overflow: auto;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 100px 15px 20px 15px;
        transition: all .3s ease-in-out;
        box-sizing: border-box;
        left: -100%;
    }

    .menu__body._active {
        left: 0;
    }


    .menu__icon._active > span {
        display: none;
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__icon, .header__logo {
        z-index: 5;
    }

    .menu__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .menu__list > li:not(:last-child) {
        margin-bottom: 15px;
    }
}

.main__start {
}
.start-block {
    position: relative;
}
.start-block__container {
    padding: 177px 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.start-block__title {
    color: #FFF;
    text-align: center;
    font-family: Lora;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 102%;
    letter-spacing: 2px;
}
.start-block__description {
    color: rgba(255, 255, 255, 0.63);
    text-align: center;
    font-family: Oxygen;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 117.647%;
    margin-top: 20px;
}
.start-block__button {
    margin-top: 31px;
}
.button {
    border-radius: 3px;
    background: #DD783F;
    color: #FFF;
    text-align: center;
    font-family: Oxygen;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 153.846%;
    padding: 12px 31px;
    transition: all .5s;
    cursor: pointer;
}
.button:hover {
    background-color: #FCFCFC;
    color: #DD783F;
    -webkit-box-shadow: 0px 0px 8px 0px #DD783F inset;
    -moz-box-shadow: 0px 0px 8px 0px #DD783F inset;
    box-shadow: 0px 0px 8px 0px #DD783F inset;
}
.start-block__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -2;
    height: 100%;
}

@media (max-width: 767px) {
    .start-block__image {
        object-position: right;
    }

    .start-block__title {
        font-size: 35px;
    }

    .start-block__description {
        font-size: 16px;
    }
}

.main__types {
}
.types-block {
    background-color: white;
}
.types-block__container {
    display: flex;
    align-items: center;
    padding-top: 22px;
    flex-wrap: wrap;
}
.types-block__item {
    flex: 16.6666666667% 0 0;
    text-align: center;
    padding-bottom: 22px;
}

.types-block__item a {
    color: #768088;
    text-align: center;
    font-family: Lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.857%;
}

@media (max-width: 560px) {
    .types-block__item {
        flex: 25% 0 0;
    }
}

@media (max-width: 362px) {
    .types-block__item {
        flex: 50% 0 0;
    }
}

.main__posts {
}
.posts-block__container {
    padding: 60px 10px;
}
.posts-block__title {
}
.title-block {
    color: #2E2E2E;
    text-align: center;
    font-family: Oxygen;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-block::after {
    content: "";
    width: 188px;
    height: 1px;
    background: #DEDEDE;
    margin-top: 8px;
}
.title-block_white {
    color: #EFEFEF;
}
.title-block_white::after {
    background-color: #EFEFEF;
}
.posts-block__body {
    display: flex;
    justify-content: space-between;
    padding: 23px 0 7px 0;
}
.post {
    flex: 49% 0 0;
    position: relative;
    padding: 157px 20px 20px 20px;
    box-sizing: border-box;
    cursor: pointer;
}
.post::before {
    transition: all .9s;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all .5s;
}

.post:hover::before {
    opacity: 1;
}

.post_unfilled {
    padding: 0;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.post_unfilled > img {
    position: relative;
    height: 52%;
    z-index: 2;
}
.post_unfilled .post__title {
    color: #101315;
    font-family: Lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.25%;
}
.post_unfilled .post_description {
    color: #7A7A7A;
    font-family: Oxygen;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.154%;
}
.body-post__title {
    color: #FFF;
    font-family: Lora;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 111.111%;
}
.body-post_description {
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.70);
    font-family: Oxygen;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-overflow: ellipsis;
}
.body-post_unfilled {
    padding: 14px 13px;
}
.body-post_unfilled .body-post__title {
    color: #101315;
    font-size: 16px;
    line-height: 131.25%; 
}
.body-post_unfilled .body-post_description {
    color: #7A7A7A;
    font-size: 13px;
    line-height: 146.154%;
}
.post__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
.footer-post {
    margin-top: 12px;
}
.footer-post__avatar {
    width: 27px;
    margin-right: 6px;
}
.footer-post__name, .footer-post__date {
    color: rgba(255, 255, 255, 0.70);
    font-family: Oxygen;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}
.footer-post__name {
    flex: 30% 1 1;
    margin-right: 5px;
}
.footer-post__gray {
    background: #FCFCFC;
    padding: 12px 13px;
}
.footer-post__gray > time {
    color: #999;
}
.footer-post__gray .footer-post__name {
    color: #999;
}
.post__image {
    top: 0;
    left: 0;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 615px) {
    .posts-block__body {
        flex-wrap: wrap;
    }
    .posts-block__body > *:not(:last-child) {
        margin-bottom: 10px;
    }
    .post {
        flex: 100% 0 0;
    }
}

.main__recent {
    padding-bottom: 108px;
}
.recent-block {
}
.recent-block__container {
}
._container {
}
.recent-block__title {
}
.recent-block__body {
    margin-top: 22px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(150px, 340px));
    grid-gap: 24px;
}

@media (max-width: 630px) {
    .recent-block__body {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, minmax(150px, 340px));
    }
}

@media (max-width: 458px) {
    .recent-block__body {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, minmax(150px, 340px));
    }
}

.footer {
    position: relative;
}
.footer > img {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.footer__container {
}
._container {
}
.footer__stay-in-touch {
    padding: 81px 0 89px 0;
}
.stay-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stay-in-touch__title {
}
.title-block {
}
.stay-in-touch__body {
    display: flex;
    margin-top: 20px;
}
.stay-in-touch__input {
    border-radius: 3px 0px 0px 3px;
    background: #FFF;
    outline: none;
    border: none;
    padding: 18px 208px 18px 35px;
    color: #817F83;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.stay-in-touch__button {
    border-radius: 0px 3px 3px 0px;
    background: rgba(255, 255, 255, 0.28);
    padding: 18px 43px;
    color: #F8F8F8;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
.footer__body {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
}
.footer__body::after {
    content: "";
    width: 100%;
    height: 89px;
    background: rgba(35, 47, 56, 0.60);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
}
.header__logo {
}
.menu > nav > ul {
    display: flex;
}
.menu > nav > ul > li {
    padding: 0 20px;
}
.menu__list {
    display: flex;
    align-items: center;
}

@media (max-width: 530px) {

    .stay-in-touch__input {
        padding: 10px 60px 10px 12px;
        width: 100%;
    }

    .footer__menu {
        display: none;
    }
}

@media (max-width: 320px) {
    .stay-in-touch__body {
        flex-wrap: wrap;
    }

    .stay-in-touch__input {
        padding: 10px 0 10px 12px;
        width: 100%;
    }

    .stay-in-touch__button {
        flex: 100% 0 0;
        padding: 10px 15px;
    }
}