@import "./settings.scss";

.get-started__progress {
    @include adaptive-value("margin-top", 189, 36, 1);
    @include adaptive-value("width", 289, 270, 0);
}

.progress {
    position: relative;

    &::before, &::after {
        color: $textColor;
        font-family: "Fira Sans";
        font-size: 18px;
        font-weight: 400;
        line-height: 155.556%;
    }

    &::before {
        position: absolute;
        top: -13px;
        left: 0;
        content: "01";
    }

    &::after {
        position: absolute;
        top: -13px;
        right: -5px;
        content: "03";
    }

    & progress{
        position: absolute;
        width: 0;
        height: 0;
        overflow: hidden;
        left: -777px;
    }

    &__bar{
        overflow: hidden;
        background: #ac92ec;
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: width 1s linear;

        &::after {
            background-color: #C6B393;
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__value {
        color: #333;
        display: block;
        line-height: 21px;
        text-align: center;
    }

    &__bg {
        margin: 0 30px;
        background: #e6e9ed;
        position: relative;
        height: 2px;
        overflow: hidden;
    }
}


@keyframes progress_bar {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -40px 0;
    }
}

.progress progress[value="1"] + .progress__value:before 
{
  content: "1%"; 
}
.progress progress[value="1"] ~ .progress__bg .progress__bar 
{
  width: 1%; 
}

@for $i from 0 through 100 {
    .progress progress[value="#{$i}"]
    {
      & ~ .progress__bg .progress__bar { width: $i * 1% }
    }
  }
  
