.footer__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1px 1fr;
  grid-template-rows: 1fr 1px 1fr;
}.footer__body > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.footer__body > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}.footer__body > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}