body {
  font-size: 16px;
  height: 100%;
}

.wrapper {
  font-family: 'Gilroy-Regular';
  color: #3A3A3A;
  display: flex;
  flex-direction: column;
  height: 100%;
}

._ibg {
  background-position: center; 
  background-size: cover; 
  background-repeat: no-repeat; 
  position: relative;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  transition: .3s all;
  padding: 0 15px;
  text-align: center;
}

main {
  flex: 1 0 auto;
}

._container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}


.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
.header__wrapper {
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
  left: 0;
}
.header__container {
}
._container {
}
.header__body {
  display: flex;
  align-items: center;
  padding: 5px 0;
  min-height: 125px;
}
@media (max-width: 767px) {
  .header__body {
    min-height: auto;
    height: 70px;
  }
}
.header__main {
  display: flex;
  flex: 0 0 calc(494/1240 * 100%);
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  color: black;
  line-height: calc(29/24 * 100%);
  font-family: Gilroy-Regular;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.header__menu {
}
.menu {
  flex: 0 1 420px;
  padding: 0 20px;
}
.menu__icon {
}
.menu__body {
}
.menu__list {
  display: flex;
  justify-content: space-evenly;
}
.menu__item {
}
.menu__link {
  color: #3A3A3A;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.menu__arrow {
  font-size: 8px;
  margin: 0 0 0 4px;
}
.menu__sub-list {
}
.menu__sub-link {
}
.header__search {
  flex: 1 1 auto;
}
.search-form {
  max-width: 473px;
  padding: 0 20px 0 0;
}
.search-form__icon {
  display: none;
}
._icon-search {
}
.search-form__item {
  background-color: white;
  display: flex;
  align-items: center;
}
@media (max-width: 780px) {
  .search-form__item {
    transition: .3s all;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    top: -100%;
    left: 0;
    width: 100%;
    position: absolute;
    box-shadow: 0 0 5px rgba(212, 209, 205, 0.3);
  }
  .search-form {
    padding: 0;
  }
  .search-form__icon {
    position: relative;
    z-index: 5;
    font-size: 22px;
    display: block;
    color: #262F56;
  }
  .header__search {
    display: flex;
    justify-content: flex-end;
  }
  .header__main {
    flex: 1 1 auto;
  }
}
.search-form._active {
  .search-form__item {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .search-form__icon {
    color: #E89F71;
  }
}
.search-form__btn {
  flex: 0 0 45px;
  height: 45px;
  font-size: 15px;
  color: #333333;
  background-color: white;
}
.search-form__input {
  border: none;
  width: 100%;
  padding: 0 20px 0 0;
}
.search-form__input::placeholder {
  color: #616161;
  font-family: Gilroy-Regular;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

.header__actions {
}
.actions-header {
  position: relative;
  z-index: 5;
  display: grid;
  grid-template-columns: auto;
  grid-auto-flow: column;
  align-items: center;

  /* Anything about adaptive value ?! */

  gap: 32px;
}

@media (max-width: 1089px) {
  .actions-header {
    gap: 15px;
  }
}
@media (max-width: 1000px) {
  .actions-header {
    gap: 8px;
  }
}
.actions-header__item {
}
.actions-header__item_favorites {
  font-size: 22px;
  color: #262F56;
  transition: .3s color ease;
}

@media (any-hover: hover) {
  .actions-header__item_favorites:hover {
    color: #E89F71;
  }
}
._icon-favorite {
}
.cart-header {
}
.cart-header__icon {
  font-size: 24px;
  color: #262F56;
  transition: .3s color ease;
  position: relative;
  display: block;
}
.cart-header__icon span {
  display: flex;
  position: absolute;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  top: -10px;
  right: -10px;
  border-radius: 50%;
  background-color: #E89F71;
  color: white;
  font-size: 12px;
}
@media (any-hover: hover) {
  .cart-header__icon:hover {
    color: #E89F71;
  }
}
._icon-cart {
}
.cart-header__body {
}
.cart-header__list {
}
.cart-list {
}
.actions-header__item_user {
  overflow: hidden;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.actions-header__item_user img {
  width: 40px;
  height: 40px;
}
@media (max-width: 1065px) {
  .actions-header__item_user {
    width: 30px;
    height: 30px;
  }
  .actions-header__item_user img {
    width: 30px;
    height: 30px;
  }
}
._ibg {
}
.icon-menu {
}


.footer {
}
.footer__container {
}
._container {
}
.footer__body {
  border-top: 1px solid #D8D8D8;
  display: grid;
  grid-template-columns: 250px 1fr 290px;
  padding: 80px 0 60px 0;
  column-gap: 80px;
}
@media (max-width: 1150px) {
  .footer__body {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 290px;
  }
  .footer__main {
    grid-column: span 2;
    margin-bottom: 30px;
  }
}
@media (max-width: 800px) {
  .footer__body {
    display: block;
  }
  .footer__subcribe {
    margin-top: 40px;
  }
  .menu-footer__column {
    margin-top: 20px;
  }
}
.footer__main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__logo, .footer__text {
  margin: 0 0 16px 0;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__contacts > *:not(:first-child) {
  margin-top: 16px;
}
.footer__logo {
}
._footer-title {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-weight: 700;
  line-height: calc(29 / 24 * 100%);
}
.footer__text {
  color: #616161;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}
.contacts-footer {

}
.contacts-footer__item, .contacts-footer__item span {
  display: inline-flex;
  align-items: center;
  color: #616161;
  transition: .3s all;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; 
}
.contacts-footer__item::before {
  margin: 0 8px 0 0;
}
@media (any-hover: hover) {
  .contacts-footer__item:hover {
    color: #E89F71;
  }
}
._icon-location {
}
._icon-phone {
}
.footer__menu {
}
.menu-footer {
}
.menu-footer__column {
}
@media (min-width: 768px) {
  .menu-footer {
    display: flex;
  }
  .menu-footer__column {
    flex: 0 1 33.333333%;
  }
}
.menu-footer__title {
  cursor: default;
  margin: 0 0 16px 0;
}
.menu-footer__list {
}
.menu-footer__list > *:not(:first-child) {
  margin-top: 16px;
}
.menu-footer__link {
  color: #616161;
  font-family: Gilroy-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.footer__subcribe {
}
.subcribe {
}
.subcribe__title {
  margin: 0 0 16px 0;
}
.subcribe__form {
  display: flex;
  position: relative;
}
.subcribe__input {
  width: 100%;
  background: #F4F5F7;
  padding: 0 12px;
  color: #828282;
  border: none;
}
._req {
}
._email {
}
.subcribe__button {
  flex: 0 0 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: #E89F71;
  margin: 0 4px 0 0;
  color: white;
}
._icon-send {
}





/* SWIPER ================================= */

.page__main-slider {

}
.main-slider {
  background-color: #fcf8f3;
}
.main-slider__container {
  position: relative;
}
@media (min-width: 768px) {
  .main-slider__container::before {
    content: "";
    background-color: #f9f1e7;
    position: absolute;
    top: 0;
    width: 100vw;
    right: 367px;
    height: 100%;
  }
}
._container {
}
.main-slider__body {
  padding: 140px 0 0 0;
  position: relative;
  z-index: 2;
}

@media (min-width: 768px) {
  .main-slider__body {
    display: flex;
  }
}
.main-slider__content {
  flex: 0 0 calc(494/1240 * 100%);
}
.content-main {
}
.content-main__title {
}
.content-main__text {
}
.content-main__button {
}
.btn {
}
.main-slider__slider {
  min-width: 0;
}
.slider-main {
}
.slider-main__controls {
}
.controls-slider-main {
}
.controls-slider-main__dotts {
}
.controls-slider-main__arrows {
}
.slider-arrows {
}
.slider-arrow {
}
.slider-arrow_prev {
}
._icon-arrow-down {
}
.slider-arrow_next {
}
.slider-main__body {
}
.slider-main__wrapper {
}
.swiper-wrapper {
}
.slider-main__slide {
}
.swiper-slide {
}
.slider-main__image {
}
._ibg {
}
.slider-main__content {
}
.slider-main__title {
}
.slider-main__text {
}
.slider-main__price {
}
._icon-arrow-link {
}