@import "./reset.scss";
@import "./settings.scss";
@import "./tools.scss";
@import "./ui.scss";
@import "./popup.scss";

._container {
    max-width: #{$containerWidth + px};
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
} 

body._locked {
    overflow: hidden;
}

@import "./header.scss"; 
@import "./footer.scss";
 

body { 
    height: 100%;
}
 
.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.page {
    flex: 1 0 auto;
    min-height: 100%;
}

._ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.button__sign-up {
    @include adaptive-font(19, 12);

    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    border-radius: 10px;
    background: #4460BF;
    border: 1px solid #4460BF;
    padding: 18px 90px;
    transition: .5s all;

    &:hover {
        background: none;
        color: #4460BF;
    }
}