@import "./tools.scss";
@import "./settings.scss";

.custom-popup {
    $popup: &;

    width: 100vw;
    box-sizing: border-box;
    background-color: rgba(0, 26, 119, 0.87);
    position: fixed;
    top: 0;
    left: 0;
    height: 0;
    transition: .5s opacity;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    opacity: 0;

    &._active {
        height: 100vh;
        opacity: 1;
        padding: 15px;
        overflow: hidden;
        transition: .5s all;

        #{$popup}__body {
            visibility: visible;
            display: flex;
            flex-direction: column;
        }
    }


    &__header {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    &__title {
        @include adaptive-font(24, 17);

        color: #FFF;
        margin-top: 12px;
        text-align: center;
        font-family: Inter;
        text-align: center;
        font-weight: 400;
        line-height: 147.523%;
    }

    &__subtitle {
        @include adaptive-font(20, 12);

        color: #A8A8A8;
        font-family: Inter;
        text-align: center;
        font-weight: 400;
        line-height: 147.523%;
    }

    &__body {
        visibility: hidden;
        background-color: #03103C;
        padding: 24px 21px 43px 21px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: $md + px) {
            & {
                padding: 24px 20px 43px 20px;
            }
        }
    }

    &__icon {
        z-index: 5;
        width: 26px;
        height: 20px;
        position: relative;
        margin-left: 15px;
        cursor: pointer;


        &::before, &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #5E5E5E;
            transition: .5s all;
        }

        &::before {
            top: 0;
            left: 0;
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
        }
    
        &::after {
            bottom: 1px;
            left: 0;
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
        }

        @media (max-width: $md + px) {
            &::before, &::after {
                background-color: #FFF;
            }
        }
    }

    &__form {
        box-sizing: border-box;
        margin-top: 27px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        position: relative;
        width: fit-content;

        @media (max-width: $sm + px) {
            & {
                padding: 0;
                margin-left: -24px;
                margin-right: -24px;
            }
        }

        &::before {
            color: #525252;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            content: "Как вас зовут?";
            position: absolute;
            top: 3px;
            left: 31px;
            z-index: 5;
        }
    }

    &__input {
        padding-left: 30px;
        height: 60px;
        width: 332px;
        background-color: #FFF;
        border-radius: 9px;
        color: rgba(82, 82, 82, 0.90);
        font-family: Inter;
        box-sizing: border-box;
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .label {
        position: relative;

        &::before {
            color: #525252;
            font-family: Inter;
            font-size: 10px;
            font-weight: 400;
            line-height: normal;
            position: absolute;
            top: 0;
            left: 0;
            content: "Как вас зовут?";
            width: 100px;
            height: 20px;
        }
    }

    &__button {
        background-color: #4460BF;
        padding: 17px 70px;
        border-radius: 9px;
        border: 2px solid #4460BF;

        color: #FFF;
        font-family: Inter;
        font-size: 19px;
        font-weight: 800;
        line-height: normal;
        transition: .5s all;

        &:hover {
            color: #4460BF;
            background-color: #FFF;
        }
    }

    &__agreement {
        color: #9C9C9C;
        text-align: center;
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 147.523%;
        margin-top: 15px;

        & > a {
            color: inherit;
            text-decoration: underline;
        }
    }
}