/* BREAKPOINTS ------------------------------------------ */

$sm: 575; 
$md: 767;
$lg: 991;
$xl: 1199;

/* COLORS ----------------------------------------------- */

$grayColor: #E8E8E8;
$blueColor: #3A466D;

/* SETTINGS --------------------------------------------- */

$containerWidth: 1330;
$maxWidth: 1920;
$minWidth: 375;

body {
    background-color: $grayColor;
}





