html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}

body {
    background-color: gray;
    color: white;
}

.wrapper {
}
.page {
    font-family: 'Montserrat', sans-serif;
    padding: 90px 0 0 0;
}
.page__section {
    padding: 0 0 30px 0;
    max-width: 1200px;
    margin: 0 auto;
}
.page__section_1 {
    background-color: aqua;
}
.page__section_2 {
    background-color: blue;
}
.page__section_3 {
    background-color: brown;
}
.page__title {
    font-size: 30px;
    margin-bottom: 10px;
}
.page__text {
}
.page__sub-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: brown;
}
.header__container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}
.header__logo {
    width: 20px;
    height: 20px;
    background-color: aliceblue;
    border-radius: 20px;
}
.header__menu {
}
.menu {
}
.menu__icon {
}
.menu__body {
}
.menu__list > li {
    position: relative;
    margin: 0 0 0 20px;
}
.menu__link {
    color: white;
    font-size: 18px;
    text-decoration: none;
}
.menu__link:hover {
    text-decoration: underline;
}
.menu__sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: black;
    padding: 15px;
    min-width: 200px;
}
.menu__sub-link {
}
.menu__arrow {
    display: none;
}
@media (min-width: 767px) {
    .menu__list {
        display: flex;
        align-items: center;
    }
    .menu__list > li {
        padding: 10px 0;
    }
    .menu__sub-list {
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all .3s;
    }
}


body._pc {
    .menu__list > li:hover .menu__sub-list {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translate(0, 0);
    }
}

body._touch {
    .menu__arrow {
        width: 0;
        display: block;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 10px solid white;
        transition: transform .3s ease 0s;
        margin-left: 5px;
    }

    .menu__list > li {
        display: flex;
        align-items: center;
    }

    .menu__link {
        flex: 1 1 auto;
    }

    .menu__list > li._active {
        .menu__sub-list {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
            transform: translate(0, 0);
        }
        .menu__arrow {
            transform: rotate(180deg);
        }
    }
}