@import "./settings.scss";

.footer {
    $footer: &;
    background-color: $liverColor;

    // .footer__container
    &__container {
        @include adaptive-value("padding-top", 59, 20, 0);
        @include adaptive-value("padding-bottom", 34.8, 15, 0);
    }

    // .footer__body
    &__body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1px auto;
        gap: 36.2px;

    }

    // .footer__main
    &__main {


        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 187px 1fr minmax(300px, 380px);

        #{$footer}__contacts {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        @media (max-width: $lg + px) {
            & {
                grid-template-rows: repeat(2, auto);
                grid-template-columns: 1fr 382px;
            }

            #{$footer}__menu, #{$footer}__contacts {
                grid-row: 2;
            }

            & {
                @include adaptive-value("row-gap", 30, 20, 0);
            }
        }

        @media (max-width: $md + px) {
            & {
                grid-template-rows: repeat(3, 1fr);
                grid-template-columns: 1fr;
                @include adaptive-value("row-gap", 20, 10, 0);
            }

            #{$footer}__contacts {
                grid-row: 3;
                justify-content: flex-start;
                padding: 0;
            }
        }
    }

    // .footer__logo
    &__logo {
        @include adaptive-font(24, 20);

        color: white;
        display: flex;
        align-items: center;
        font-family: Fira Sans;
        font-weight: 500;
        line-height: 116.667%;
        cursor: pointer;
        flex: 0 0 calc(571/1110 * 100%);
    }

    // .footer__menu
    &__menu {
        display: flex;
        align-items: center;
    }

    // .footer__contacts
    &__contacts {
        padding-left: 20px;
    }

    // .footer__line
    &__line {
        border: 1px solid #FFF;
        opacity: 0.2;
        width: 100%;
    }

    // .footer__subcribe
    &__subcribe {
        display: flex;
        justify-content: space-between;

        @media (max-width: $sm + px) {
            & {
                flex-direction: column;
                gap: 20px;
                justify-content: flex-start;
            }
        }
    }
}

.menu-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include adaptive-font(18, 14);

    color: #FFF;
    text-align: center;
    font-family: Fira Sans;
    font-weight: 400;
    line-height: 155.556%;

    // .menu-footer_small
    &_small {
        opacity: 0.4;
    }

    // .menu-footer_dark
    &_dark {
    }

    // .menu-footer__item
    &__item {
        padding: 0 3px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    // .menu-footer__link
    &__link {
        @include adaptive-font(18, 14);

        color: #FFF;
        text-align: center;
        font-family: Fira Sans;
        font-weight: 400;
        line-height: 155.556%;
    }
}
.contacts-footer {
    display: flex;
    align-items: center;

    // .contacts-footer__form
    &__form {
        height: 40px;
        display: flex;
        flex: 0 0 calc(285 / 380 * 100%);
    }

    // .contacts-footer__input
    &__input {
        @include adaptive-font(18, 14);

        color: $textColor;
        font-family: Fira Sans;
        font-weight: 400;
        background-color: #FFF;
        height: 40px;
        padding: 0 20px;
        flex: 0 0 calc(170 / 285 * 100%);
        box-sizing: border-box;
    }

    // .contacts-footer__button
    &__button {
        height: 40px;
        box-sizing: border-box;
        margin-left: 15px;
    }
}
.subcribe-footer {

    // .subcribe-footer__menu
    &__menu {
    }

    // .subcribe-footer__icons
    &__icons {
    }

    // .subcribe-footer__icon
    &__icon {
        color: #FFF;

        &:not(:first-child) {
            margin-left: 5px;
        }
    }
}
