/* BREAKPOINTS ------------------------------------------ */

$sm: 575; 
$md: 767;
$lg: 991;
$xl: 1199;

/* COLORS ----------------------------------------------- */

$grayColor: #F4F4F4;
$whiteColor: #FAFAFA;
$liverColor: #515151;
$textColor: #222222;
$blueColor: #1434E1;

/* SETTINGS --------------------------------------------- */

$containerWidth: 1140;
$maxWidth: 1920;

body {
    background-color: $grayColor;
}





